
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/Layout_Inicio.cshtml";
}

    <html>
    <head>
        <title>PetsGrow</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;600;800&display=swap" rel="stylesheet">
        <link href="~/Content/Inicio.css" rel="stylesheet" />

        <link rel="icon" type="image/png" href="~/Content/Images/Iso60.png" />

    </head>

    <body>
        @*<div class="_test">

        </div>*@
        <!--Presentación de la página-->
        <div class="_pres-section">
            <div class="_presentacion">
            </div>
            <div id="intro1" class="_acomodo1 _text"><h1 class="_header">Acompañamos a dueños responsables y exitosos en una experiencia canina de élite</h1></div>
            <div id="intro2" class="_acomodo2 _text"><h2 class="_header">Integramos las herramientas necesarias para el cuidado de tus mascotas</h2></div>
        </div>
        <!--Presentación de la página-->

        <!--Servicios-->
        <div class="_servicios">
            <div class="_serv-title-position">
                <section class="_serv-header">Servicios</section>
            </div>
            <div class="_serv-text2">
                <section class="_serv-header">Te ayudamos a llevar un registro detallado de la información de tu mascota con una herramienta de fácil acceso</section>
            </div>
            <div class="_serv-text3">
                <section class="_serv-header">Apoyamos a los criadores en su camino a la profesionalización maximizando los resultados</section>
            </div>
        </div>
        <script src="~/Scripts/Inicio/Inicio.js"></script>
        <!--Servicios-->

        <!--Banner con descripción de los servicios-->
        <div class="_banner-section">
            <div class="_info-beneficios">
                <h2>¡Puedes unirte gratis!</h2>
                <p>Crea una cuenta gratis para llevar el control de los datos de tu mascota</p>
                <p>Además, puedes acceder a nuestro portal de servicios especializados y criaderos profesionales</p>
            </div>

        </div>
        <!--Banner con descripción de los servicios-->

        <!--Tabla con precios-->
        <div class="_banner-section-prices">
            <h2>Nuestras membresías</h2>
            <table>
                <thead>
                    <tr>
                        <th>Membresía</th>
                        <th>Mi mascota</th>
                        <th>Mi criadero</th>
                        <th>Mi criadero Pro</th>
                        <th>Criaderos</th>
                        <th>Aliados</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Buscador de servicios</td>
                        <td class="_punto">.</td>
                        <td class="_punto">.</td>
                        <td class="_punto">.</td>
                        <td class="_punto">.</td>
                        <td class="_punto">.</td>
                    </tr>
                    <tr>
                        <td>Control de datos básicos</td>
                        <td class="_punto">.</td>
                        <td class="_punto">.</td>
                        <td class="_punto">.</td>
                        <td class="_punto">.</td>
                        <td class="_punto">.</td>
                    </tr>
                    <tr>
                        <td>Control de datos especializados</td>
                        <td class="_punto"></td>
                        <td class="_punto">.</td>
                        <td class="_punto">.</td>
                        <td class="_punto">.</td>
                        <td class="_punto">.</td>
                    </tr>
                    <tr>
                        <td>Control de datos financieros</td>
                        <td class="_punto"></td>
                        <td class="_punto"></td>
                        <td class="_punto">.</td>
                        <td class="_punto">.</td>
                        <td class="_punto">.</td>
                    </tr>
                    <tr>
                        <td>Publicación de un anuncio (criadero)</td>
                        <td class="_punto"></td>
                        <td class="_punto"></td>
                        <td class="_punto"></td>
                        <td class="_punto">.</td>
                        <td class="_punto"></td>
                    </tr>
                    <tr>
                        <td>Publicación de un anuncio (negocio)</td>
                        <td class="_punto"></td>
                        <td class="_punto"></td>
                        <td class="_punto"></td>
                        <td class="_punto"></td>
                        <td class="_punto">.</td>
                    </tr>
                    <tr>
                        <td>Suscripción mensual</td>
                        <td>$00</td>
                        <td>$200</td>
                        <td>$250</td>
                        <td>$350</td>
                        <td>$350</td>
                    </tr>
                    <tr>
                        <td>Suscripción trimestral (Ahorro 15%)</td>
                        <td>$00</td>
                        <td>$510</td>
                        <td>$638</td>
                        <td>$893</td>
                        <td>$893</td>
                    </tr>
                    <tr>
                        <td>Suscripción anual (Ahorro 25%)</td>
                        <td>$00</td>
                        <td>$1,800</td>
                        <td>$2,250</td>
                        <td>$3,150</td>
                        <td>$3,150</td>
                    </tr>
                </tbody>

            </table>

        </div>
        
        <!--Creditos-->
        @*<a href='https://www.freepik.es/fotos/perro'>Foto de Perro creado por freepik - www.freepik.es</a>
        <a href='https://www.freepik.es/fotos/perro'>Foto de Perro creado por freepik - www.freepik.es</a>
        Foto de Andrea Piacquadio en Pexels*@

    </body>
    
    </html>
    

