
@{
    ViewBag.Title = "ActivacionCuenta";
    Layout = "~/Views/Shared/Layout_Inicio_Grid.cshtml";
}

<html>
<head>
    <link href="~/Content/ActivacionCuenta.css" rel="stylesheet" />
</head>
<body>
    <div class="alert alert-success _activacion" role="alert">
        <h3>@ViewBag.Mensaje</h3>
        <br />
        <h4>Regresa a la página de Login</h4>
    </div>
</body>
</html>


